
<h2>Search</h2>
<form action="/books/" method="get">

    Book title / ISBN number. Wildcards (%) are supported: <br>
    <input type="text" name="searchString"><br>
    <input type="submit" value="Search">


</form>