<div>
    <form action="/books" method="GET">
        <input type="search" name="searchString" id="sb1" placeholder="Enter a Book name to search">
        <input type="submit" value="Search" >
    </form>
</div>

