<form action="/books/delete/:{{bookid}}" method="GET">
    Create a new book:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname">
    <input type="button" id="test">
</form>