<h2>Calculator</h2>

<form action="/calculator/answer" method="GET">

    First Number: <input type="text" name="first"><br>
    Second Number: <input type="text" name="second"><br>
    <input type="radio" name="operation" value="+" checked > Addition<br>
    <input type="radio" name="operation" value="-"> Subtraction<br>
    <input type="radio" name="operation" value="/"> Division<br>
    <input type="radio" name="operation" value="*"> Multiplication <br>
    <input type="submit" value="Calculate">


</form>