#entirepage{
    width: 600px;
    border: 2px solid black;
    background-color: aqua;
    margin: 0 auto;
}

header{
	text-align: center;
	font-size: 300%;
}

nav{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: aqua;
}
nav ul{
    margin:0 ;
    padding: 5px;
}
nav ul li {
    display: inline;
    border:1px solid #0ee;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #0aa;
    text-decoration: none !important;
}

main{
    padding: 5px;
}

#sb1{
    width: 60%;
}

#book_info{
    padding: 3px 0 3px 3px;
    margin: 5px 0 5px 0;
    border: 1px solid black;
}
#book_info a:hover{
    color: darkgrey;
    text-decoration: none;
}
#book_info a:link, a:visited {
    text-decoration: none;
  }

body{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: #0E708D;
}

#pageCurrent {
    background-color: #0cc;
    border: 1px solid #0ee;
    text-decoration: none;
}
.pageNumber {
    border: 1px solid #0ee !important;
    margin: 0;
    padding: 0 4px 0 4px;
    text-decoration: none !important;
}
#pageLast {
    border: 1px solid #0ee !important;
    margin: 0;
    padding: 0 4px 0 4px;
    text-decoration: none;
}
#pageFirst {
    border: 1px solid #0ee !important;
    margin: 0;
    padding: 0 4px 0 4px;
    text-decoration: none;
}