<div>
    <form action="/authors" method="GET">
        <input type="search" name="searchString" id="sb1" placeholder="Search for a title or an ISBN. Wildcard (%) is supported.">
        <input type="submit" value="Search" >
    </form>
</div>

