<form action="/account" method="POST">
    Username<br>
    <input type="text" name="username" placeholder="Enter Username" required="required" ><br>
    Password<br>
    <input type="text" name="password" placeholder="Enter Password" required ="required">
    <input type="button" value="Login">
</form>