<search>
    <div>
        <form action={{table}} method="GET">
            <input type="search" name="searchString" id="sb1" placeholder={{placeholder}}>
            <button type="submit" id="searchButton"><i class="fa fa-search"></i></button>
        </form>
    </div>
</search>