<search>
    <div>
        <form action="/books" method="GET">
            <input type="search" name="searchString" id="sb1" placeholder="Search for a title or an ISBN. Wildcard (%) is supported.">
            <button type="submit" id="searchButton"><i class="fa fa-search"></i></button>
        </form>
    </div>
</search>  