<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hello!</title>
</head>

<body>

    <div id="entirepage">
        <header>
            <h1>Hello!</h1>
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/books">Book</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/books/search">Search</a></li>
            </ul>
        </nav>
        <main>
            {{{body}}}
        </main>
    </div>
</body>

</html>